<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
    <style>
        body{
            padding-top: 40px;
            padding-left: 40px;
            background-color: #f5f5f5;
        }
    .success{
        color: red ;
    }
    </style>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {% for fm in form  %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
    {% endfor %}

    <label for="address">Address: </label> <input type="text" id="" name="address"><br> <br>
    <label for="date">Date of Birth: </label>
  <input type="date" id="" name="dob" max="2021-12-31"><br><br>
    <input type="submit" value="Submit">
</form>
<p class="text-center">If you already have an account, <a href="{% url 'loginPage' %}">login</a> instead.</p>
{% if messages %}
    {% for message in messages %}
    <small> {% if messages.tags %} class="{{ messages.tags }}" {% endif %} {{ message }}</small>
    {% endfor %}
{% endif %}
</body>
</html>